<header>
</header>
<div role="main" id="images">
	<% @photos.data.each do |photo| %>
		<a href="<%= photo.link %>" target="_blank"><img src="<%= photo.images.standard_resolution.url %>" width="612" height="612" /></a>
	<% end %>
</div>
<footer>
<span id="new"></span><span id="me"></span>
</footer>