<header>
</header>
<div role="main">
	<% @photos.each do |photo| %>
		<img src="<%= photo.images.standard_resolution.url %>" width="612" height="612" />
	<% end %>
</div>
<footer>
<span id="new"></span><span id="me"></span>
</footer>
